.background {
    background-image: url("mainBackground.png");
        background-attachment: fixed;
        background-position: center center;
}

p {
    color: rgb(247, 242, 242);
    background-color: rgb(19, 18, 18);
}

#head {
    color: rgb(15, 15, 15);
}

#para1{
    color:rgb(30, 30, 31);    
    width: auto;
}

h1 {
    text-align: center;
    color: rgb();
}

h3 {
    color: rgb(243, 237, 237);
}

#body{
    min-height: 100%;
    background-image: url("mainBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
