.background {
    background-image: url("mainBackground.jpg");
        background-attachment: fixed;
        background-position: center center;
}

p {
    ocolor: white;
}

#para1{
    color:rgb(247, 239, 239);
    text-align: center;
    width: auto;
}

h1 {
    text-align: center;
    color: rgb();
}

h3 {
    color: rgb(243, 237, 237);
}

#body{
    min-height: 100%;
    background-image: url("mainBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
